main {
  @include leftRightElements(80%, 90vh, white);
  margin-left: 12%;

  section {
    .content {
      @include leftRightElements(100%, 45vh, white);
      display: flex;

      .left_content {
        @include leftRightElements(50%, inherit, white);
        padding-top: 10px;

        h1 {
          font-weight: $fontWeight600;
          font-family: $fontFamilies;
          font-size: 75px;
          width: 100%;
          line-height: 70px;
          color: $headingColor;
          margin-top: 10px;
        }

        p {
          font-family: $fontFamilies;
          font-weight: $fontWeight200;
          width: 100%;
          color: $firstTextColor;
          font-size: 20px;
          margin-top: 20px;
        }
      }

      .right_content {
        @include leftRightElements(50%, inherit, white);
        padding-top: 5px;
        .star_elements {
          @include leftRightElements(450px, 50px, $starDivColor);
          border-radius: 5px;
          margin-top: 15px;
          margin-left: 60px;
          font-size: 20px;

          i {
            margin-top: 15px;
            color: $starColor;
          }

          #star {
            margin-left: 20px;
          }

          span {
            font-family: $fontFamilies;
            margin-left: 20px;  
            color: $firstTextColor;
            font-weight: 600;
            font-size: 20px;
          }
        }

        #star_element_one {
          margin-top: 40px;
        }

        #star_element_two {
          margin-left: 100px;
        }

        #star_element_three {
          margin-left: 140px;
        }
      }
    }
  }

  section {
    .profiles {
      @include leftRightElements(100%, 45vh, white);
      display: flex;
      font-family: $fontFamilies;

      .profile_box {
        @include leftRightElements(600px, 210px, $divColor);
        margin-left: 15px;
        border-radius: 8px;
        margin-top: 100px;

        .profile_infos {
          width: 80%;
          height: 20px;
          margin: 20px auto;
          display: flex;
          .profile_picture {
            width: 30px;
            height: 30px;
            border: 2px solid black;
            border-radius: 50%;
          }

          .profile_details {
            font-size: 20px;
            margin-left: 15px;   
            line-height: 10px;

            .profile_name {
              color: $paragraphColor;
              font-size: 25px;
              margin-top: 10px;
              margin-left: 10px;
            }

            .profile_status {
              color: $h6Color;
              font-size: 20px;
              margin-top: 15px;
              margin-left: 10px;
            }
          }

          #profile_picture_one {
            background-image: url(../images/Man.jpg);
            @include imageStyle;
          }

          #profile_picture_two {
            background-image: url(../images/firstWoman.jpg);
            @include imageStyle;
          }

          #profile_picture_three {
            background-image: url(../images/secondWoman.jpg);
            @include imageStyle;
          }
        }

        .profile_description {
          margin: 40px auto auto 40px;

          p {
            color: $paragraphColor;
            width: 95%;
            font-size: 16px;
            margin-top: 50px;
          }
        }
      }

      #box_one {
        margin-left: 0;
        margin-top: 60px;
        width: 600px; 

        &:hover {
          animation-duration: 0.5s;
          animation-name: box_one;
          animation-iteration-count: 1;
          animation-direction: alternate;
        }           

        @keyframes box_one {
          from {
            margin-top: 2px;
            transition: 5s;
          }
        }
      }

      #box_two {
        margin-top: 80px;
        width: 600px; 

        &:hover {
          animation-duration: 0.5s;
          animation-name: box_one;
          animation-iteration-count: 1;
          animation-direction: alternate;
        }

        @keyframes box_one {
          from {
            margin-top: 1px;
            transition: 10s;

          }
        }

      }

      #box_three {
        margin-top: 100px;
        width: 600px; 

        &:hover {
          animation-duration: 0.5s;
          animation-name: box_one;
          animation-iteration-count: 1;
          animation-direction: alternate;
        }

        @keyframes box_one {
          from {
            margin-top: 0.5px;
            transition: 10s;
          }
        }

      }
    }
  }
}
