@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  height: 90vh;
  background: white;
  margin-left: 12%;
}

main section .content {
  width: 100%;
  height: 45vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .content .left_content {
  width: 50%;
  height: inherit;
  background: white;
  padding-top: 10px;
}

main section .content .left_content h1 {
  font-weight: 900;
  font-family: "Outfit", sans-serif;
  font-size: 75px;
  width: 100%;
  line-height: 70px;
  color: #570064fa;
  margin-top: 10px;
}

main section .content .left_content p {
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  width: 100%;
  color: #430156f6;
  font-size: 20px;
  margin-top: 20px;
}

main section .content .right_content {
  width: 50%;
  height: inherit;
  background: white;
  padding-top: 5px;
}

main section .content .right_content .star_elements {
  width: 450px;
  height: 50px;
  background: rgba(221, 221, 221, 0.315);
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 60px;
  font-size: 20px;
}

main section .content .right_content .star_elements i {
  margin-top: 15px;
  color: rgba(255, 145, 0, 0.704);
}

main section .content .right_content .star_elements #star {
  margin-left: 20px;
}

main section .content .right_content .star_elements span {
  font-family: "Outfit", sans-serif;
  margin-left: 20px;
  color: #430156f6;
  font-weight: 600;
  font-size: 20px;
}

main section .content .right_content #star_element_one {
  margin-top: 40px;
}

main section .content .right_content #star_element_two {
  margin-left: 100px;
}

main section .content .right_content #star_element_three {
  margin-left: 140px;
}

main section .profiles {
  width: 100%;
  height: 45vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Outfit", sans-serif;
}

main section .profiles .profile_box {
  width: 600px;
  height: 210px;
  background: #3e0041f6;
  margin-left: 15px;
  border-radius: 8px;
  margin-top: 100px;
}

main section .profiles .profile_box .profile_infos {
  width: 80%;
  height: 20px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .profiles .profile_box .profile_infos .profile_picture {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
}

main section .profiles .profile_box .profile_infos .profile_details {
  font-size: 20px;
  margin-left: 15px;
  line-height: 10px;
}

main section .profiles .profile_box .profile_infos .profile_details .profile_name {
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

main section .profiles .profile_box .profile_infos .profile_details .profile_status {
  color: #a903a6be;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 10px;
}

main section .profiles .profile_box .profile_infos #profile_picture_one {
  background-image: url(../images/Man.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}

main section .profiles .profile_box .profile_infos #profile_picture_two {
  background-image: url(../images/firstWoman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}

main section .profiles .profile_box .profile_infos #profile_picture_three {
  background-image: url(../images/secondWoman.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}

main section .profiles .profile_box .profile_description {
  margin: 40px auto auto 40px;
}

main section .profiles .profile_box .profile_description p {
  color: white;
  width: 95%;
  font-size: 16px;
  margin-top: 50px;
}

main section .profiles #box_one {
  margin-left: 0;
  margin-top: 60px;
  width: 600px;
}

main section .profiles #box_one:hover {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: box_one;
          animation-name: box_one;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes box_one {
  from {
    margin-top: 2px;
    -webkit-transition: 5s;
    transition: 5s;
  }
}

@keyframes box_one {
  from {
    margin-top: 2px;
    -webkit-transition: 5s;
    transition: 5s;
  }
}

main section .profiles #box_two {
  margin-top: 80px;
  width: 600px;
}

main section .profiles #box_two:hover {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: box_one;
          animation-name: box_one;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@keyframes box_one {
  from {
    margin-top: 1px;
    -webkit-transition: 10s;
    transition: 10s;
  }
}

main section .profiles #box_three {
  margin-top: 100px;
  width: 600px;
}

main section .profiles #box_three:hover {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: box_one;
          animation-name: box_one;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@keyframes box_one {
  from {
    margin-top: 0.5px;
    -webkit-transition: 10s;
    transition: 10s;
  }
}

@media screen and (max-width: 580px) {
  main {
    width: 95%;
    height: 90vh;
    background: white;
    margin-left: 0px;
  }
  main section .content {
    width: 100%;
    height: 30vh;
    background: white;
    display: block;
  }
  main section .content .left_content {
    width: 100%;
    height: inherit;
    background: white;
    margin-top: 50px;
  }
  main section .content .left_content h1 {
    font-weight: 900;
    font-family: "Outfit", sans-serif;
    font-size: 35px;
    text-align: center;
    width: 100%;
    line-height: 30px;
    color: #570064fa;
  }
  main section .content .left_content p {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    width: 100%;
    font-size: 20px;
    color: #430156f6;
    margin-left: 0px;
  }
  main section .content .left_content #description_paragraph {
    margin-top: 30px;
  }
  main section .content .right_content {
    width: 100%;
    height: inherit;
    background: white;
  }
  main section .content .right_content .star_elements {
    width: 90%;
    height: 33px;
    background: rgba(221, 221, 221, 0.315);
    border-radius: 4px;
    margin-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  main section .content .right_content .star_elements i {
    margin-top: 5px;
    color: rgba(255, 145, 0, 0.704);
    margin-left: 5px;
  }
  main section .content .right_content .star_elements #star {
    margin-left: 0px;
  }
  main section .content .right_content .star_elements span {
    font-family: "Outfit", sans-serif;
    margin-left: 15px;
    color: #430156f6;
    font-weight: 600;
    font-size: 15px;
  }
  main section .content .right_content #star_element_one {
    margin-top: 20px;
    margin-left: 10px;
  }
  main section .content .right_content #star_element_two {
    margin-left: 10px;
  }
  main section .content .right_content #star_element_three {
    margin-left: 10px;
  }
  main section .profiles {
    width: 100%;
    height: 45vh;
    background: white;
    display: block;
    font-family: "Outfit", sans-serif;
  }
  main section .profiles .profile_box {
    width: 10px;
    height: 200px;
    background: #3e0041f6;
    border-radius: 8px;
  }
  main section .profiles .profile_box .profile_infos {
    width: 80%;
    height: 20px;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main section .profiles .profile_box .profile_infos .profile_picture {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
  }
  main section .profiles .profile_box .profile_infos .profile_details {
    font-size: 20px;
    margin-left: 15px;
    line-height: 15px;
    margin-top: 20px;
  }
  main section .profiles .profile_box .profile_infos .profile_details .profile_status {
    color: #a903a6be;
  }
  main section .profiles .profile_box .profile_infos .profile_details .profile_name {
    color: white;
  }
  main section .profiles .profile_box .profile_infos #profile_picture_one {
    background-image: url(/Images/Man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-top: 20px;
  }
  main section .profiles .profile_box .profile_infos #profile_picture_two {
    background-image: url(/Images/firstWoman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-top: 20px;
  }
  main section .profiles .profile_box .profile_infos #profile_picture_three {
    background-image: url(/Images/secondWoman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-top: 20px;
  }
  main section .profiles .profile_box .profile_description {
    margin: 70px auto auto 40px;
  }
  main section .profiles .profile_box .profile_description p {
    color: white;
    width: 260px;
    font-size: 14px;
  }
  main section .profiles #box_one {
    margin-top: 20rem;
    margin-left: 30px;
    width: 400px;
  }
  main section .profiles #box_two {
    margin-top: 20px;
    margin-left: 30px;
    width: 400px;
  }
  main section .profiles #box_three {
    margin-top: 20px;
    margin-left: 30px;
    width: 400px;
  }
}
/*# sourceMappingURL=style.css.map */