main {
  @include leftRightElements(80vw, 90vh, white);
  margin: 15px auto;

  section {
    .content {
      @include leftRightElements(100%, 45vh, white);
      display: block;

      .left_content {
        @include leftRightElements(40%, inherit, white);

        h1 {
          font-weight: $fontWeight600;
          font-family: $fontFamilies;
          font-size: 40px;
          width: 450px;
          line-height: 50px;
          color: $headingColor;
          margin-top: 30px;
        }

        p {
          font-family: $fontFamilies;
          font-weight: $fontWeight200;
          width: 430px;
          color: $firstTextColor;
          margin-top: 20px;
          font-size: 10px;
        }
      }

      .right_content {
        @include leftRightElements(10%, inherit, transparent);
        margin-left: 0px;

        .star_elements {
          @include leftRightElements(560px, 50px, $starDivColor);
          border-radius: 4px;
          margin-top: 15px;
          margin-left: 70px;

          i {
            margin-top: 10px;
            color: $starColor;
          }

          #star {
            margin-left: 50px;
          }

          span {
            font-family: $fontFamilies;
            margin-left: 60px;
            color: $firstTextColor;
            font-weight: 600;
            font-size: 15px;
          }
        }

        #star_element_one {
          margin-top: 40px;
          margin-left: 10px;
        }

        #star_element_two {
          margin-left: 10px;
        }

        #star_element_three {
          margin-left: 10px;
        }
      }
    }
  }

  section {
    .profiles {
      @include leftRightElements(100%, 45vh, white);
      display: flex;
      font-family: $fontFamilies;
      margin-top: 20rem;

      .profile_box {
        @include leftRightElements(300px, 250px, $divColor);
        margin-left: 20px;
        border-radius: 8px;

        &:hover {
          animation-duration: 0.5s;
          animation-name: box_one;
          animation-iteration-count: 1;
          animation-direction: alternate;
        }

        @keyframes box_one {
          from {
            margin-top: -2%;
          }
        }

        .profile_infos {
          width: 80%;
          height: 20px;
          margin: 20px auto;
          display: flex;

          .profile_picture {
            width: 30px;
            height: 30px;
            border: 2px solid black;
            border-radius: 50%;
          }

          .profile_details {
            font-size: 20px;
            margin-left: 15px;
            line-height: 19px;

            .profile_status {
              color: $h6Color;
            }

            .profile_name {
              color: $paragraphColor;
            }
          }

          #profile_picture_one {
            background-image: url(/Images/Man.jpg);
            @include imageStyle;
          }

          #profile_picture_two {
            background-image: url(/Images/firstWoman.jpg);
            @include imageStyle;
          }

          #profile_picture_three {
            background-image: url(/Images/secondWoman.jpg);
            @include imageStyle;
          }
        }

        .profile_description {
          margin: 40px auto auto 20px;

          p {
            color: $paragraphColor;
            width: 220px;
            font-size: 14px;
          }
        }
      }

      #box_one {
        margin-left: 40px;
      }

      #box_two {
        margin-top: 0px;
      }

      #box_three {
        margin-top: 20rem;
        margin-left: -27rem;
      }
    }
  }
}
