@import './setup';

@mixin leftRightElements ($width, $height, $background){
    width: $width;
    height: $height;
    background: $background;
}

@mixin imageStyle{
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
}

//Default style
@import './main';
@import './mobile/mobile';

// //Desktop style
// @media (max-width: 1200px){
//     //Here we use the default style
//     @import './main';
// };

// //Tablet style
// @media (max-width: 900px){
//     @import './tablet/tablet';
// };

// //Mobile style
// @media (max-width: 576px) {
//     @import './mobile/mobile';
// }

