main {
    @include leftRightElements (100%, 90vh, white);

    section {
        .contentDiv {
            @include leftRightElements (100%, 30vh, white);
            display: block;

            .leftDiv {
                @include leftRightElements (100%, inherit, white);
                margin-top: 100px;

                h1 {
                    // align-items: center;
                    font-weight: $headingFontWeight;
                    font-family: $paragraphFontFamily;
                    font-size: 35px;
                    text-align: center;
                    width: 100%;
                    line-height: 30px;
                    color: $headingColor;
                }

                p {
                    text-align: center;
                    font-family: $paragraphFontFamily;
                    font-weight: $firstParagraphFontWeight;
                    width: 100%;
                    font-size: 20px;
                    color: $firstTextColor;
                    margin-left: 0px;
                }

                #para {
                    margin-top: 30px
                }
            }

            .rightDiv {
                @include leftRightElements (100%, inherit, white);

                .starElements {
                    @include leftRightElements (90%, 33px, $starDivColor);
                    border-radius: 4px;
                    margin-top: 20px;
                    align-items: center;
                    padding: 10px;
                    // margin-left: 20px;

                    i {
                        margin-top: 5px;
                        color: $starColor;
                        margin-left: 5px;
                    }

                    #star{
                        margin-left: 0px;
                    }
                    span {
                        font-family: $paragraphFontFamily;
                        margin-left: 15px;
                        color: $firstTextColor;
                        font-weight: 600;
                        font-size: 15px;

                    }

                }

                #starElementsOne {
                    margin-top: 20px;
                    margin-left: 10px;
                }

                #starElementsTwo {
                    margin-left: 10px;
                }

                #starElementsThree {
                    margin-left: 10px;
                }

            }
        }
    }

    section {
        .profileDiv {
            @include leftRightElements (100%, 45vh, white);
            display: block;
            align-items: center;
            margin-left: 0px;
            font-family: $paragraphFontFamily;

            .profileBox {
                @include leftRightElements (330px, 200px, $underDivColor);
                border-radius: 8px;

                .profileName {
                    width: 80%;
                    height: 20px;
                    margin: 20px auto;
                    display: flex;

                    // justify-content: space-evenly;

                    .profilePic {
                        width: 30px;
                        height: 30px;
                        border: 2px solid black;
                        border-radius: 50%;
                    }

                    .names {
                        font-size: 20px;
                        margin-left: 15px;
                        line-height: 19px;
                        margin-top: 20px;



                        .verified {
                            color: $h6Color;
                        }

                        .name {
                            color: $paragraphColor;
                        }

                    }




                    #picOne {
                        background-image: url(/Images/Man.jpg);
                        @include imageStyle;
                        margin-top: 20px;

                    }

                    #picTwo {
                        background-image: url(/Images/firstWoman.jpg);
                        @include imageStyle;
                        margin-top: 20px;


                    }

                    #picThree {
                        background-image: url(/Images/secondWoman.jpg);
                        @include imageStyle;
                        margin-top: 20px;

                    }
                }

                .textDiv {
                    margin: 50px auto auto 40px;

                    p {
                        color: $paragraphColor;
                        width: 260px;
                        font-size: 14px;

                    }

                }

            }

            #boxOne {
                margin-top: 20rem;
                margin-left: 30px;
            }

            #boxTwo {
                margin-top: 20px;
                margin-left: 30px;


            }

            #boxThree {
                margin-top: 20px;
                margin-left: 30px;


            }

        }
    }
}